<!-- application/templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <article>

      {% block body %}

      {% endblock %}

    </article>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>

