{# application/templates/index.html #}

{% extends "base.html" %}

{% block title %}fcexchange.tk{% endblock %}

{% block body %}

  <header>

    <img class="header__logo" src="{{ url_for('static', filename='images/logo_300.png') }}">

    <h1 class="header__text">FCEXCHANGE</h1>

    <h2 class="header__detail">Foriegn Currency Exchange</h2>

    <h3 class="header__detail">Get live exchange rates</h3>

  </header>

  <main>

    <form action="/" method="POST">
  
      {{ form.csrf_token }}

      {{ form.start_amount.label }}
      {{ form.start_amount(class='form__field', value='', placeholder='Enter Amount') }}
      {%  for message in form.start_amount.errors %}
        <p class="form__error">{{ message }}.</p>
      {% endfor %}
      {{ form.from_currency.label }}
      {{ form.from_currency(class='form__field') }}
      {{ form.to_currency.label }}
      {{ form.to_currency(class='form__field') }}
      <button class="form__button" type="submit">CALCULATE</button>
  
    </form>
  
    <div class="result">

      <h2 class="result__total">{{ '{0:.2f}'.format(amount) if amount }}<span class="result__currency">{{ currency if currency }}</span></h2>
      <p class="result__rate">{{ '1 {}'.format(from_rate) if from_rate }}{{ ' = {0:.6f}'.format(rate) if rate }} {{ currency if currency }}</p>
      <p class="date_time">last update: {{ date_time if date_time }}</p>

    </div>
  
  </main>

  <footer>

    <p class="footer__link">Made by: <a href="https://brandonwallace.cc" rel="noreferrer" target="_blank">Brandon Wallace</a></p>

  </footer>

{% endblock %}
