{# application/templates/index.html #}

{% extends "base.html" %}

{% block title %}fcexchange.tk{% endblock %}

{% block body %}

  <header>

    <img class="header__logo" src="{{ url_for('static', filename='images/logo_300.png') }}">

    <h1 class="header__text">FCEXCHANGE</h1>

    <h2 class="header__detail">Foriegn Currency Exchange</h2>

    <h3 class="header__detail">Get the latest exchange rates.</h3>

  </header>

  <main>

    <form action="/" method="POST">
  
      {{ form.csrf_token }}

      {{ form.start_amount.label(for='start_amount') }}
      {{ form.start_amount(class='form__field', id='start_amount', value='', placeholder='Enter Amount') }}
      {%  for message in form.start_amount.errors %}
        <p class="form__error">{{ message }}.</p>
      {% endfor %}
      {{ form.from_currency.label(for='from_currency') }}
      {{ form.from_currency(class='form__field', id='from_currency') }}
      {{ form.to_currency.label(for='to_currency') }}
      {{ form.to_currency(class='form__field', id='to_currency') }}
      <button class="form__button" type="submit">CALCULATE</button>
  
    </form>
  
    <div class="result">

      <h2 class="result__total">{{ '{0:.2f}'.format(amount) if amount }}<span class="result__currency">{{ currency if currency }}</span></h2>
      <p class="result__rate">{{ '1 {}'.format(from_rate) if from_rate }}{{ ' = {0:.6f}'.format(rate) if rate }} {{ currency if currency }}</p>

      <table id="hide">

        <thead>

          <tr>
            <th></th>
            <th>30 days</th>
            <th>60 days</th>
          </tr>

        </thead>

        <tbody>

          <tr>
            <td></td>
            <td>{{ '{0:.2f}'.format(thirty_days_ago) if thirty_days_ago }}</td>
            <td>{{ '{0:.2f}'.format(sixty_days_ago) if sixty_days_ago }}</td>
          </tr>

          <tr>
            <td>Average</td>
            <td>{{ '{0:.2f}'.format(thirty_days_ago) if thirty_days_ago }}</td>
            <td>{{ '{0:.2f}'.format(sixty_days_ago) if sixty_days_ago }}</td>
          </tr>

        </tbody>

      </table>

    </div>
  
    <p class="date_time">last update: {{ date_time }}</p>

  </main>

  <footer>

    <p class="footer__link">Made by: <a href="https://github.com/brandon-wallace" rel="noreferrer" target="_blank">Brandon Wallace</a></p>

  </footer>

{% endblock %}
